@using System.Globalization

@{
    ViewBag.Title = "Book Builder";
}
<html>
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css">
</head>
    <body>
        @*@Html.Partial("_PartialBars")*@
        OK
    </body>

</html>


