@model Tuple<MvcApplication1.DbModels.Projects, IQueryable<MvcApplication1.DbModels.Document>>

@{
    ViewBag.Title = "Project";
}

<body>
    <div class="container" id="main">
        <div class="flash affix-top"></div>
        @Html.Partial("_MainTabMenu",  this.Model.Item1)
        @Html.Partial("_ListPartial", this.Model.Item2)
    </div>
</body>