@{
    Layout = null;
}


<script src="/ckeditor/ckeditor.js" type="text/javascript"> </script>
<link rel="stylesheet" href="~/ckeditor/samples/sample.css">

<div style="">
    @Html.TextArea("editor1", new { @class = "ckeditor", @id = "aboutme" })
    @*<script type="text/javascript">
        CKEDITOR.replace("editor1");
       
    </script>*@
</div>

